Django Email System

**Project Description**: This Django-based Email Marketing System allows you to manage subscribers, create and send email campaigns to subscribed users.

Features

- User-friendly web interface for managing subscribers and campaigns.
- Send personalized email campaigns to subscribers.
- Easily unsubscribe users who no longer wish to receive emails.
- List all created campaigns and their details.
- Option to send emails only to subscribed and active users.

## Prerequisites

Before you begin, ensure you have met the following requirements:

- Python 3.x installed on your system.
- Django framework installed (`pip install Django`).
- Access to an SMTP server or email service provider for sending emails (e.g., Gmail SMTP, Mailgun, SendGrid).
- A Mailgun or SendGrid API key (if applicable).

